@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lora", ui-serif, Georgia, serif;

  --color-primary: #73db9a;
  --color-on-primary: #00391d;
  --color-primary-container: #005f35;
  --color-on-primary-container: #71da99;
  
  --color-secondary: #44e2cd;
  --color-on-secondary: #003731;
  --color-secondary-container: #03c6b2;
  --color-on-secondary-container: #004d44;

  --color-tertiary: #9ad1cb;
  --color-on-tertiary: #003734;
  --color-tertiary-container: #225a56;
  --color-on-tertiary-container: #98cfca;

  --color-background: #0d1514;
  --color-on-background: #dce4e2;
  
  --color-surface: #0d1514;
  --color-on-surface: #dce4e2;
  --color-surface-variant: #2e3635;
  --color-on-surface-variant: #c0c8c3;
  
  --color-surface-container-lowest: #08100f;
  --color-surface-container-low: #151d1c;
  --color-surface-container: #192120;
  --color-surface-container-high: #232c2a;
  --color-surface-container-highest: #2e3635;
  
  --color-outline: #8a938e;
  --color-outline-variant: #404945;
}

@layer base {
  .prose strong {
    @apply text-primary font-bold;
  }
  .prose h1, .prose h2, .prose h3 {
    @apply text-on-surface font-serif;
  }
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans antialiased;
  }
}

.glass-panel {
  @apply backdrop-blur-xl bg-surface/40 border border-outline-variant/10;
}

.botanical-glow {
  background: radial-gradient(circle at center, rgba(0, 95, 53, 0.15) 0%, rgba(13, 21, 20, 0) 70%);
}

.hero-gradient {
  background: linear-gradient(to bottom, rgba(13, 21, 20, 0) 0%, rgba(13, 21, 20, 0.8) 80%, rgba(13, 21, 20, 1) 100%);
}

.botanical-grain {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  @apply opacity-[0.03] pointer-events-none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-surface-container-highest rounded-full;
}
